@import url("https://fonts.googleapis.com/css2?family=Avenir+Next:wght@400;500;600;700&family=Fira+Code:wght@400;700&family=Fira+Mono:wght@400;700&family=Manrope:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap");

:root {
  --font-base: "Avenir Next", "Manrope", sans-serif;
  --font-mono: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --h: 180;
  --s: 2%;
  --l: 20%;
  --color-bg: hsl(0, 0%, 4%);
  --color-grey-100: #fff;
  --color-grey-300: #e4e7e7;
  --color-grey-400: #c9cfcf;
  --color-grey-500: #9ea9a9;
  --color-grey-700: #7a8484;
  --color-grey-900: #3b4040;
  --color-grey-950: #272a2a;
  --color-primary: hsl(var(--h), var(--s), var(--l));
  --shadow-md: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --shadow-lg: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  --rounded-sm: 0.5rem;
  --rounded-md: 1.5rem;
  --yellow: #ffc41e;
  --blue: #155183;
  --black: #080000;
  --grey: #191921;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body,
#__next {
  min-height: 100% !important;
  height: 100%;
}

body {
  min-height: 100%;
  font-family: var(--font-base);
  font-size: 1.5rem;
  background-color: var(--color-bg);
  color: var(--color-grey-100);
  background-image: url("/pattern.png");
}

pre,
code {
  font-family: var(--font-mono);
}

code {
  background-color: var(--color-grey-950);
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
  border-radius: 0.4rem;
  font-size: 0.875rem;
}

code:before,
code:after {
  content: "`";
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-position: inside;
}

header {
  width: 100%;
}

/**********/

.mainHeader {
  display: flex;
  height: 10vh;
}

main {
  padding: 0 1rem;
  height: 85vh;
  overflow-y: scroll;
}

main section {
  height: 100%;
}

.mainFooter {
  padding: 1rem;
  height: 5vh;
}

.light {
  color: var(--color-grey-100);
}

.p-1 {
  padding: 0.25rem;
}
/** padding X axis */
.px-1 {
  padding: 0 0.25rem;
}

.py-4 {
  padding: 1rem 0;
}

.my-3 {
  margin: 0.75rem 0;
}

.my-8 {
  margin: 7rem 0;
}

.mt-4 {
  margin-top: 1rem;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
} 

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.text-medium {
  font-size: 1rem;
}

.text-large {
  font-size: 1.5rem;
}

.text-x-large {
  font-size: 1.6rem;
}

.text-xx-large {
  font-size: x-large;
}

@media (max-width: 1024px) {
  
  .text-medium {
    font-size: 0.75rem;
  }

  .text-large {
    font-size: 1rem;
  }

  .text-x-large {
    font-size: 1.25rem;
  }

  .text-xx-large {
    font-size: large;
  }

  .checkCircle {
    height: 1rem !important;
    width: 1rem !important;
  }

  .container {
    padding: 0.70rem 0;
  }

  .content {
    margin-top: 0.70rem;
  }
}

.bold {
  font-weight: 700;
}

/** SCROLL */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}





.checkCircle {
  color: var(--blue);
  background: var(--yellow);
  border-radius: 50%;
  margin-right: 0.5rem;
  min-width: 1.5rem;
}

.btn {
  color: #080000 !important;
  background-color: #ffc41e !important;
  border-radius: 10px !important;
  margin: 0 !important;
}

.stake-logo {
  top: -1.5rem;
  height: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.elevado {
  transform: translateY(-10px);
  border: 1px solid white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

input {
  background-color: transparent;
  border: none;
  color: white;
}