@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

:root {
  --font-base: "Montserrat", "Manrope", sans-serif;
  --font-mono: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --h: 180;
  --s: 2%;
  --l: 20%;
  --color-bg: hsl(0, 0%, 4%);
  --color-grey-100: #fff;
  --color-grey-300: #e4e7e7;
  --color-grey-400: #c9cfcf;
  --color-grey-500: #9ea9a9;
  --color-grey-700: #7a8484;
  --color-grey-900: #3b4040;
  --color-grey-950: #272a2a;
  --color-primary: hsl(var(--h), var(--s), var(--l));
  --shadow-md: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --shadow-lg: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  --rounded-sm: 0.5rem;
  --rounded-md: 1.5rem;
  --yellow: #ffbf1c;
  --blue: #0e334f;
  --black: #080000;
  --grey: #010920;
  --blue-arcade: #0c0d50;
  --blue-ligth-arcade: #1b2ddd;
  --white: #f0f0f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body,
#__next {
  min-height: 100% !important;
  height: 100%;
  overflow: hidden;
}

body {
  min-height: 100%;
  font-family: var(--font-base);
  font-size: 1.5rem;
  background-color: var(--color-bg);
  color: var(--color-grey-100);
  background-image: var(--color-grey-900);
}

pre,
code {
  font-family: var(--font-mono);
}

code {
  background-color: var(--color-grey-950);
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
  border-radius: 0.4rem;
  font-size: 0.875rem;
}

code:before,
code:after {
  content: "`";
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-position: inside;
}

header {
  width: 100%;
}

/**********/

main {
  height: 85vh;
  overflow-y: scroll;
}

main section {
  padding: 0.75rem;
  height: 100%;
}

.mainFooter {
  height: 5vh;
}

.light {
  color: var(--color-grey-100);
}

.text-medium {
  font-size: 1rem;
}

.text-large {
  font-size: 1.5rem;
}

.text-x-large {
  font-size: 1.6rem;
}

.text-xx-large {
  font-size: x-large;
}

@media (max-width: 1024px) {
  .text-medium {
    font-size: 0.75rem;
  }

  .text-large {
    font-size: 1rem;
  }

  .text-x-large {
    font-size: 1.25rem;
  }

  .text-xx-large {
    font-size: large;
  }

  .checkCircle {
    height: 1rem !important;
    width: 1rem !important;
  }

  .container {
    padding: 0.7rem 0;
  }

  .content {
    margin-top: 0.7rem;
  }
}

.bold {
  font-weight: 700;
}

/** SCROLL */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--blue-arcade);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.checkCircle {
  color: var(--blue);
  background: var(--yellow);
  border-radius: 50%;
  margin-right: 0.5rem;
  min-width: 1.5rem;
}

.btn {
  color: #080000 !important;
  background-color: #ffc41e !important;
  border-radius: 10px !important;
  margin: 0 !important;
}

.stake-logo {
  top: -2.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.elevado {
  transform: translateY(-10px);
  border: 1px solid white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

input {
  background-color: transparent;
  /* border: none; */
  color: white;
}

.yellow {
  color: var(--yellow);
}

.white {
  color: var(--white);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-dark-grey {
  background-color: var(--grey);
}

.bg-blue-arcade {
  background-color: var(--blue-arcade);
}

.bg-blue-ligth-arcade {
  background-color: var(--blue-ligth-arcade);
}

.transicion {
  transition: all 0.3s ease;
}

.mt-10-vh {
  margin: 10vh 0;
}

.poligono {
  clip-path: polygon(
    0 50%,
    15px 0,
    100% 0,
    100% 50%,
    100% 50%,
    calc(100% - 15px) 100%,
    0 100%
  );
}

.smaller {
  transform: scale(0.975, 0.935);
}

.iluminado {
  box-shadow: 0 0 20px 1px var(--white);
}

.bg-gradient-green-45 {
  background: rgb(18, 26, 28);
  background: linear-gradient(
    45deg,
    rgba(18, 26, 28, 1) 0%,
    rgba(21, 56, 60, 1) 75%
  );
}

.bg-stake {
  background-image: url("/FONDO_PANEL_3.jpg");
  background-size: cover;
  background-position: center;
}

.bg-panel2 {
  background-image: url("/FONDO_PANEL_2.jpg");
  background-size: cover;
  background-position: center;
}

.bg-panel4 {
  background-image: url("/FONDO_PANEL_4.jpg");
  background-size: cover;
  background-position: center;
}

.degradado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8)
  ); /* Cambia los valores de los colores y opacidad según tus preferencias */
  z-index: 2; /* Asegura que el degradado esté encima del video (mayor valor de z-index) */
}

.iframe-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
}

.move-left {
  left: -9%;
}

.h-rem {
  height: calc(100% - 2rem);
}

.text-shadow:hover {
  text-shadow: 0 0 10px white;
}
