.layout {
  display: grid;
  grid-template-rows: 2rem 1fr 2rem;
  grid-template-columns: 35% 30% 35%;
  overflow: hidden;
}

.header {
  grid-row: 1;
  grid-column: 1 / 4;
}

.footer {
  grid-row: 3;
  grid-column: 3 / 4;
}
